DATABASE_URL='postgres://<username>:<password>@<host>:<port>/samanitidb?schema=public'

# If running the scrapper locally by downloading the page itself as html
# Save the mock pages under the mock-pages/ folder and look up their names as how to and what to save them as in `extract.ts` file
USE_MOCK=true

SKIP_FILE_DOWNLOADS=false

# Increase this time if experiencing timeouts when downloading files
FILE_DOWNLOAD_TIMEOUT_MS=60000
